@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        @apply text-neutral-800;
    }

    html.dark {
        @apply text-neutral-50;
        @apply bg-neutral-800;
    }
}

/*gradient setting add to class*/
.gradient-background {
    background: linear-gradient(to left, #3D2F91, #89278D);
}

/* button format */
.button-color {
    display: inline-block;
    padding: 6px 12px; /* You can adjust the padding as needed */
    font-size: 0.875rem; /* Equivalent to text-xs in Tailwind CSS */
    font-weight: 500; /* Equivalent to font-medium in Tailwind CSS */
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25rem; /* Equivalent to rounded in Tailwind CSS */
    transition: all 150ms ease-in-out;
  }
 
.button-color {
    border-color: #89278D; /* Equivalent to border-danger in Tailwind CSS */
    color: #89278D; /* Equivalent to text-danger in Tailwind CSS */
    background-color: transparent; /* Equivalent to bg-transparent in Tailwind CSS */
}

.transparent{ 
    background: 'transparent',
}

.border{
    border: #89278D;
}

.right{
    @apply flex justify-end;
}

.signIn-up{
    @apply justify-end h-screen bg-white flex-col items-center w-full h-full text-black
    rounded-lg
    lg:w-4/12 p-6
}

.chart-dots {
    display: none;
  }

  .chart-line {
    stroke:  #3D2F91; /* Change to the desired line color */
    stroke-width: 2px; /* Adjust line thickness as needed */
  }
  

.font {
    font-family: 'Cabin', 'Libre Franklin', 'Oswald', sans-serif;
  }